<%-- 
Name:
Author: 
Description: 
--%>
<%@ Template Language="C#" TargetLanguage="XML" %>
<%@ Property Name="GroupId" Default="xiaomin.demo" Type="System.String" Description="项目GroupId" %>
<%@ Property Name="ArtifactId" Default="demo" Type="System.String" Description="项目ArtifactId" %>
<%@ Property Name="Version" Default="1.0" Type="System.String" Description="项目版本" %>
<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
    <parent>
        <artifactId><%=ArtifactId%></artifactId>
        <groupId><%=GroupId%></groupId>
        <version><%=Version%></version>
    </parent>
    <modelVersion>4.0.0</modelVersion>
    <artifactId><%=ArtifactId%>-domain</artifactId>
    <dependencies>
        <dependency>
            <groupId><%=GroupId%></groupId>
            <artifactId><%=ArtifactId%>-contract</artifactId>
            <version><%=Version%></version>
        </dependency>
    </dependencies>
</project>